*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background: rgb(35,67,117);

    --navbar-background: rgba(8,34,78,.9);;
    --navbar-item-font-size: 1.25rem;
    --navbar-item-font-color:#f8f9fa;
}

body{
    min-height: 100vh;
    background: var(--background);
    background: linear-gradient(180deg, rgba(35,67,117,1) 0%, rgba(25,82,142,1) 100%);
    background-attachment: fixed;  
   
}
#footer-container{
    margin: auto;
}
#footer{
    position: fixed;
    bottom: 0;
   
}

/*NAVBAR*/
#home-title{
    color: var(--navbar-item-font-color);
}
#toggle-btn{
   background-color: #f8f9fa;
}
#navbar-section{
    background-color: var(--navbar-background);
    color: var(--navbar-item-font-color)!important;
}
#navbarNav{
    justify-content: center;
}

#navbarNav > ul > li{
    margin: auto;
    padding: 0 5rem;
}
#navbarNav > ul > li > a:hover{
    border-bottom: 1px solid white;
    transform: scale(1.1);
    transition: all 0.3 ease-in-out;
    
}

/*PAGE CONTENT*/
.container{
    display: flex;
    flex-direction: column;
}
.main-title{
    margin: 1rem auto;
    text-align: center;
    color: var(--navbar-item-font-color);
    text-shadow: 0px 3px 6px rgba(0,0,0,0.24);
}
.names{
    margin: 1rem auto;
    font-size: 2rem;
}
.logo{
    width: 300px;
    margin: 1rem auto;
    
}
.logo > img {
    height: fit-content;
}

/*BLOG SITE*/
.news{
    margin: auto;
}

/*REGION   SITE*/
.pokemons-container{
    display: flex;
    justify-content: center;
    width: -webkit-fill-available;
}
.pokemons-img-container{
    margin: auto;
    display: flex;
    justify-content: center;
    width: -webkit-fill-available;
}
.initial-pokemons{
    margin: 2rem auto;
    font-weight: 600;
    color: #f8f9fa;
    font-size: 1.25rem;
    letter-spacing: 2px;
}
.pokemons-img{
    padding: 0 2rem;
}
.poke-img{
    width: 250px;
    height: 250px;
    
}
.pokemon_images{ 
    background-color: var(--navbar-background);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/*REGIONS*/ 
.pokemons-container{
    display: grid;
    grid-template-columns: auto auto;
    margin: auto;
}
.pokemons-container > ul{
    text-transform: capitalize;
    font-weight: 500;
    font-size: 1.25rem;
    color: white;

}
.region-name{
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
    text-transform: capitalize;
    color: white;
    font-weight: 700;
}
.pokemons-name{
    text-align: center;
    text-transform: capitalize;
}

/*DATA TABLE*/
#data-table{
    text-align: center;
}
table#data-table > tbody > tr:nth-of-type(1) {
    position: sticky;
    top: 50px;
}

/*FOOTER*/
#footer-container{
    display: flex;
    position: fixed;
    bottom: 0;
    justify-content: center;
    margin: auto;
    width: 100%;
}