*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background: rgb(35,67,117);

    --navbar-background: rgba(8,34,78,.9);;
    --navbar-item-font-size: 1.25rem;
    --navbar-item-font-color:#f8f9fa;
}

body{
    height: 100%;
    background: var(--background);
    background: linear-gradient(180deg, rgba(35,67,117,1) 0%, rgba(25,82,142,1) 100%);
    background-attachment: fixed;    
}

/*NAVBAR*/
#home-title{
    color: var(--navbar-item-font-color);
}
#toggle-btn{
   background-color: #f8f9fa;
}
#navbar-section{
    background-color: var(--navbar-background);
    color: var(--navbar-item-font-color)!important;
}
#navbarNav{
    justify-content: center;
}

#navbarNav > ul > li{
    margin: auto;
    padding: 0 5rem;
}
#navbarNav > ul > li > a:hover{
    border-bottom: 1px solid white;
    transform: scale(1.1);
    transition: all 0.3 ease-in-out;
    
}

/*PAGE CONTENT*/
.container{
    display: flex;
    flex-direction: column;
}
.main-title{
    margin: 1rem auto;
    text-align: center;
    color: var(--navbar-item-font-color);
    text-shadow: 0px 3px 6px rgba(0,0,0,0.24);
}

.logo{
    width: 300px;
    margin: 1rem auto;
    
}